<?xml version="1.0"?>
<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!-- 
  <appSettings >
    Contiene le impostazioni personalizzate dell'applicazione, quali percorsi di file, URL di servizi Web XML o qualsiasi informazione archiviata nel file ini di un'applicazione.
  </appSettings>
  
  <configSections >
    Specifica le dichiarazioni delle sezioni di configurazione e degli spazi dei nomi.
  </configSections>
  
  <location >
    Specifica la risorsa a cui vengono applicate le impostazioni di configurazione figlio
  </location>
  
  <startup>
    Specifica informazioni di avvio di Common Language Runtime.
  </startup> 
  -->
	<!--  <location> -->
	<system.web>
		<customErrors mode="Off"/>
		<authorization>
			<allow users="*"/>
			<!-- l'accesso è autorizzato a tutti -->
		</authorization>
		<authentication mode="Forms">
			<!-- <forms loginUrl="~/Account/Login.aspx" timeout="2880"/> -->
			<forms loginUrl="SMS_Login.aspx" timeout="20"/>
		</authentication>
		<sessionState mode="InProc" cookieless="UseCookies" timeout="21">
			<!-- timeout=numero minuti durante i quali una sessione può essere inattiva prima di essere abbandonata-->
			<!-- Consente di configurare le impostazioni di stato sessione per l'applicazione corrente.-->
			<!-- mode=InProc: Lo stato sessione è in esecuzione con un processo di lavoro ASP.NET-->
			<!-- cookieless=UseCookies: i cookie rendono permanenti i dati utente indipendentemente dal fatto che siano supportati dal browser o dal dispositivo-->
			<!-- ????? cookieName: nome del cookie in cui viene memorizzato l'identificatore di sessione -->
		</sessionState>
		<!--		</system.web>
  </location> 
  <system.web>-->
		<caching>
			<outputCache enableOutputCache="false"></outputCache>
		</caching>
		<!-- contiene le impostazioni proprie dell'applicazione -->
		<compilation explicit="true" debug="true" targetFramework="4.0">
		</compilation>
		<membership>
			<!--Configura i parametri per la gestione e l'autenticazione degli account utente mediante l'appartenenza ASP.NET.-->
			<providers>
				<clear/>
			</providers>
		</membership>
		<!-- 
    <sessionState
              timeout="20"
              cookieName="ASP.NET_SessionId"
              cookieless="[true|false|AutoDetect|UseCookies|UseUri]"
              mode="[Off|InProc|StateServer|SQLServer|Custom]"
             
       />   -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<trust level="Full"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<defaultDocument>
			<files>
				<add value="Login.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
